<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollegeBuilderApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D06B373A1D46E18400A5685B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D06B374E1D46E18400A5685B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D06B37591D46E18400A5685B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
